// Sizes
$xs-size: 0.5rem;
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 4rem;

// Colors
$black: #000;
$dark-grey: #444;
$light-grey: #999;
$maroon: #400111;
$off-white: #e0e1e6;
$orange: #916108;
$white: #fff;
