.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  background: $light-grey;
  width: $xl-size * 10;
  height: $s-size * 64.5;
  margin: $xs-size auto;
  width: 700px;
}

.row {
  display: flex;
  width: 100%;
}